@import "../../styles/variables"
@import "../../styles/mixins"

.branding
    @include container
    display: flex
    // justify-content: 
    gap: 400px

    &__info
        &:last-child
            // margin-top: 130px

    &__title
        @include font(24px , #FFF ,medium)
        width: 100%
        max-width: 296px
        padding-top: 190px

    &__hr
        position: relative
        top: 24px

    &__desc
        @include font(18px , #FFF , light)
        width: 100%
        max-width: 620px
        padding-top: 50px

    &__btn
        @include font(18px , #FFF  , medium)
        padding-top: 56px

    &__line
        width: 100%
        max-width: 144px
        margin-top: 20px
