@import "../../styles/variables"
@import "../../styles/mixins"

.branding
    @include container
    display: flex
    justify-content: space-between
    align-items: center

    @media (max-width:998px)
        flex-direction: column

    &__info
        width: 45%
        @media (max-width:998px)
            width: 100%
            margin-bottom: 50px

        &:last-child
            // margin-top: 130px

    &__title
        @include font(24px , #FFF ,medium)
        width: 100%
        max-width: 296px
        padding-top: 120px
        @media (max-width:768px)
            padding-top: 66px
        @media (max-width:450px)
            @include font(22px , #FFF ,medium)
            padding-top: 55px
    &__hr
        position: relative
        top: 24px

    &__desc
        @include font(18px , #FFF , light)
        width: 100%
        max-width: 620px
        padding-top: 50px
        @media (max-width:768px)
            @include font(18px , #FFF , light)

    &__btn
        padding-top: 56px

    &__line
        width: 100%
        max-width: 144px
        margin-top: 20px

    &__image
        border-radius: 10px !important
        width: 100%
        height: auto
        @media (max-width:998px)
            display: none
