@import "../../styles/variables"
@import "../../styles/mixins"

.navbar
    display: flex
    justify-content: space-between
    width: 100%
    padding: 55px 50px 5px 70px

    &__menu
        display: flex
        gap: 44px
        @include font(24px , $colorWhite , light)
        cursor: pointer
        margin-top: 20px

    &__menuItem
        &:hover
            text-decoration: underline
            color: blue
            transition: 0.4s ease
            transform: scale(1.1)

    &__language
        width: 100%
        max-width: 100px
        padding: 10px
        border: none !important
        outline: none !important
        background: transparent
        color: white
        @include font(24px , $colorWhite , medium)
        background: black
        cursor: pointer

    &__select
        color: white
        text-decoration: underline
