@import "../../styles/variables"
@import "../../styles/mixins"

.footer
    @include container
    display: flex
    gap: 162px
    color: #FFF
    @media (max-width:768px)
        flex-direction: column

    &__content
        display: flex
        flex-direction: column
        gap: 32px
        width: 100%
        max-width: 299px

    &__reserved
        @include font(20px , #FFF , regular)

    &__experience
        @include font(14px , #FFF , light)

    &__title
        @include font(22px , #FFF , medium)
        padding-bottom: 33px

    &__social
        display: flex
        gap: 10px

        & img
            cursor: pointer
            &:hover
                transform: rotate(360deg)
                transition: 0.5s ease

    &__text
        @include font(18px  , #FFF , light)

    &__back
        cursor: pointer
