@import "../../styles/variables"
@import "../../styles/mixins"

.portfolio
    @include container
    @media (max-width:768px)
        flex-direction: column

    &__cards
        margin-top: 140px
        display: flex
        gap: 30px
        @media (max-width:768px)
            flex-direction: column

    &__card
        width: 100%
        padding: 20px
        max-width: 480px
        border: 1px solid #FFF
        background: rgba(255, 255, 255, 0.00)
        height: 434px
        color: white
        text-align: center
        display: flex
        flex-direction: column
        gap: 30px
        justify-content: center
        align-content: center
        align-items: center
        border-radius: 10px
        cursor: pointer
        @include font(18px , #FFF , light)
        & img
            &:hover
                transform: scale(1.1)
                transition: 0.4s ease

    &__site
        @include font(20px , #FFF , regular)
